<h1 class="title has-text-centered pt-6">
  Add cat
</h1>

<div class="columns is-centered mt-4">
  <div class="column is-hidden-mobile">
    {{#if errors.length}}
      <div class="column box is-9 is-centered ml-6" style="color: red;">
        <div class="subtitle" style="color: red;">Could not add book because:</div>
        <ul>
          {{#each errors}}
            <li>• {{this}}</li>
          {{/each}}
        </ul>
      </div>
    {{else}}

    {{/if}}

  </div>

  <div class="columns is-5">
    <div class="columns">
      <div class="column">
        <div class="box">
          <form method="POST" action="/books/add" enctype="multipart/form-data">
            <div class="mb-3">
              Title:
              <input
                type="string"
                name="title"
                placeholder="Type title"
                class="input"
                onkeydown="return event.key != 'Enter';"
                value="{{title}}"
              />
            </div>
            <div class="mb-3">
              Description:
              <textarea
                onkeydown="return event.key = 'Enter';"
                class="input textarea"
                name="description"
                rows="3"
                placeholder="Type description"
              >{{description}}</textarea>
            </div>
            <div class="columns is-left mb-0">
              <div class="column is-7">
                Book cover:
                <input
                  type="file"
                  name="imageName"
                  class="input"
                  accept="image/jpg, image/jpeg"
                />
                <div class="help">
                  Allowed file types are: jpeg, jpg
                </div>

              </div>
              <div class="column is-5 mt-1">
                <br />
                <input type="checkbox" name="checkImg" value="true" />
                Use the standard cover
              </div>
            </div>
            {{#if imgName}}
              <div class="columns is-left mb-0">
                <div class="column">
                  <img
                    class="image is-64x64"
                    src="/images/img_books/{{imgName}}"
                    alt=""
                  />
                  <div class="help">
                    Current book cover
                  </div>
                </div>
                <div class="column is-5 mt-1">

                  <input
                    type="checkbox"
                    name="checkCurrentImg"
                    checked="true"
                    value="{{imgName}}"
                  />
                  Use the current book cover
                </div>
              </div>
            {{/if}}

            <div class="mb-3">
              Year:
              <input
                type="integer"
                name="year"
                placeholder="Type year"
                class="input"
                value="{{year}}"
              />
            </div>
            <div class="mb-3">
              Book Type:
              <input
                type="string"
                name="bookType"
                placeholder="Type Book Type"
                class="input"
                value="{{bookType}}"
              />
            </div>
            <div class="mb-3">
              Illustrator:
              <input
                type="string"
                name="illustrator"
                placeholder="Type Illustrator"
                class="input"
                value="{{illustrator}}"
              />
            </div>
            <div class="mb-3">
              Publisher:
              <input
                type="string"
                name="publisher"
                placeholder="Type Publisher"
                class="input"
                value="{{publisher}}"
              />
            </div>
            <div>
              Character:
            </div>
            <div class="select">
              <select name="selectCharacter">

                {{#if characterSelectedValues}}
                  <option
                    value="{{characterSelectedValues.id}}"
                  >{{characterSelectedValues.name}}</option>
                {{/if}}

                {{#each character}}
                  <option value="{{id}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="column has-text-centered">
              <button class="button is-medium is-responsive mt-6">
                Add book
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>